@font-face {
    font-family: AquireBold;
    src: url("./aquireBold.otf") format("opentype");
}

.navbar {
    height: 7vh;
    background-color: rgb(32, 32, 32);
    display: flex;
    z-index: 1000;
}
