.gamelist-card {
}

.game-list-item {
  width: 100%;
  font-weight: bold;
  font-size: 3vh;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-list-item > div {
  margin: 1vh 2vh 1vh 2vh;
  padding: 0;
  height: max-content;
}

.match-date {
  margin: 2px 0 1px 1vw;
  padding: 0 1vh 0 1vh;
  width: max-content;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgba(134, 134, 134, 0.445);
}

.match-state {
  height: 21px;
  text-align: center;
  font-weight: bold;
}

.first-team {
  float: left;
}

.versus {
  text-align: center;
  font-size: 4vh;
}

.second-team {
  float: right;
}

.ongoing {
  display: inline-flex;
  width: 90%;
}
.target {
  width: 100%;
}

.score {
  width: 100%;
}
