.nav-right {
  margin-left: auto;
}

.nav-three-dash {
  padding: 2vh;
  height: 3vh;
  float: right;
}

.nav-list {
  list-style: none;
  float: right;
  margin-right: 1rem;
  background-color: transparent;
}

.nav-list > li {
  margin: 2.5vh 1rem 2.5vh 0;
  display: inline-block;
  text-decoration: none;
  font-family: AquireBold;
  font-size: 2vh;
  color: aliceblue;
  cursor: pointer;
}

.nav-list > li > a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
